data/
dependencies_DNALM/
preprocess/*.txt
preprocess/__pycache__/
preprocess/*.json
LAMAR/*
# allow evalEmbeddings scripts and contents
!LAMAR/evalEmbeddings/
!LAMAR/evalEmbeddings/**

# ignore full LLM_eval directory
LLM_eval/
DNABERT_2_project/
eclip/
mRNABench/
pretrain/

# Ignore HPO summary and search outputs
*hpo*
best_hpo_params.json

# Ignore large CSV/TSV dataset dumps
*.csv
*.tsv

# Keep only scripts and plots tracked. Ignore data, logs, outputs under LAMAR
LAMAR/data/
LAMAR/logs/
LAMAR/output/
LAMAR/outputs/
